* {
    background-color: white;
    color: black;
}

@font-face {
    font-family: 'NewtonHowardFont-Regular';
    src: url('./FONTS/newton-howard-fonts/NewtonHowardFont-Regular.eot') format('embedded-opentype');
    src: url('./FONTS/newton-howard-fonts/NewtonHowardFont-Regular.svg') format('svg');
    src: url('./FONTS/newton-howard-fonts/NewtonHowardFont-Regular.ttf') format('truetype');
    src: url('./FONTS/newton-howard-fonts/NewtonHowardFont-Regular.woff') format('woff');
    src: url('./FONTS/newton-howard-fonts/NewtonHowardFont-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'CelticGaramondthe2nd';
    src: url('./FONTS/celtic_garmond/CelticGaramondthe2nd.eot') format('embedded-opentype');
    src: url('./FONTS/celtic_garmond/CelticGaramondthe2nd.svg') format('svg');
    src: url('./FONTS/celtic_garmond/CelticGaramondthe2nd.ttf') format('truetype');
    src: url('./FONTS/celtic_garmond/CelticGaramondthe2nd.woff') format('woff');
    src: url('./FONTS/celtic_garmond/CelticGaramondthe2nd.woff2') format('woff2');
}

/* --------------------------------INDEX PAGE------------------------------------ */
.landing-section {
    text-align: center;
    color: white;
    font-family: 'CelticGaramondthe2nd';
}

.landing-section div {
    margin-top: 25%;
}

.landing-button {
    border-radius: 2em;
    border: solid white 1em;
    color: white;
    font-family: 'CelticGaramondthe2nd';
    cursor: pointer;
}

.landing-button:hover {
    border: solid darkred 1em;
    transition: 2s all ease;
}

.landing-button a {
    color: white;
}

/* -----------------------------------HEADER--------------------------------------- */
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.5 ease;
    background-color: transparent;
}

.header .fixed {
    background-color: transparent;
    position: fixed;
}

.header .brand-name {
    padding: 0 15px;

}

.header .brand-name a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    font-family: 'Chiller';
}

.header .fixed .brand-name a {
    color: black;
}

.header .nav-toggle {
    width: 40px;
    height: 34px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    display: none;

}

.home-badge {
    width: 55px;
    height: 55px;
}

.header .fixed .nav-toggle {
    border-color: black;
}

.header .nav-toggle span {
    height: 1px;
    display: block;
    width: 16px;
    background-color: white;
    position: relative;
    transition: all 0.5s ease;
}

.header .nav-toggle span::before,
.header .nav-toggle span::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background-color: white;
    transition: all 0.5s ease;
}

.header .fixed .nav-toggle span,
.header .fixed .nav-toggle:before,
.header .fixed .nav-toggle:after {
    background-color: black;
}

.header .nav-toggle span:before {
    transform: translate(-6px);
}

.header .nav-toggle span:after {
    transform: translate(-6px);
}

.header .nav {
    padding: 0 15px;
}

.header .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .nav ul li {
    display: inline-block;
    margin-left: 30px;
}

.header .nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 25px 0;
    display: block;
    transition: all 0.5s ease;
    font-family: 'Old English Text MT',
        'Engravers MT',
        'Times New Roman',
        sans-serif;
}

.header .fixed .nav ul li a {
    color: black;
}

.header .fixed .nav ul li a:hover,
.header .nav ul li a:hover {
    color: crimson;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 0 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 6em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    /* display: inline-block; */
    text-align: right;
}

.dropbtn div {
    background-color: lightgray;
    border-radius: 2em;
    padding: 5px 3em;
    margin: 3px;
}

.dropbtn div:hover {
    background-color: crimson;
    transition: all 2s ease;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    /* position: absolute; */
    text-align: right;
    justify-content: right;
    color: black;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 2em;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'NewtonHowardFont-Regular',
        'Engravers MT',
        'Times New Roman',
        sans-serif;
    border-radius: 2em;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    opacity: 0.7;
    background-color: crimson;
    transition: all 2s ease;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* -------------------------------------Home section------------------------- */
header {
    background-color: white;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: white;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact {
    margin-bottom: 2em;
}

#about {
    color: white;
    background-color: black;
    background-image: url('./IMAGES/moving\ stars.gif');
}

#about h2 {
    color: white;
    background-color: transparent;
}

#about p {
    color: white;
    background-color: transparent;
}

.home-heading {
    margin-top: 5em;
    text-align: center;
}

.home-section {
    padding: 0em;
}

.home-title {
    font-family: 'CelticGaramondthe2nd',
        'Engravers MT',
        'Times New Roman',
        sans-serif;
    font-size: 18px;
}

.home-animation {
    margin: 1em 0em;
    padding-top: 5em;
    padding-bottom: 40em;
    background-image: url('../LOGO/LOGO\ JITTER.gif');
    background-position: center;
    background-size: cover;
}

.noctem-button {
    color: white;
    background-color: black;
    padding: 1em;
    border-radius: 2em;
}

.projects {
    text-align: center;
    margin: 25% 0;
}

.projects-button {
    border-radius: 0;
    background-color: black;
    color: white;
    padding: 1em;
    font-family: 'CelticGaramondthe2nd',
        'Engravers MT',
        'Times New Roman',
        sans-serif;
    cursor: pointer;
    border: solid;
}

.projects-button:hover {
    background-color: gray;
}

@media screen and (max-width: 700px) {
    .projects {
        padding: 50% 0;
        text-align: center;
    }
}